body {
  background: black;
  overflow: hidden;
  margin: 0;
  font-family: 'Alata';
}

#pokeball-background {
  align-items: center;


#white-layer {
  height: 100%;
  width: 80%;
  background-color: white;
  z-index: 0;
  position: absolute;
  right: 56%;
  animation: slide1 1.5s forwards;
  z-index: 0;
}
#red-layer {
  height: 100%;
  width: 80%;
  background-color: red;
  z-index: 0;
  position: absolute;
  left: 56%;
  animation: slide2 1.5s forwards;
  z-index: 0;
}

#btn-layer {
  border-radius: 50%;
  border: 30px solid black;
  background: white;
  height: 250px;
  width: 250px;
  position: absolute;
  top:35%;
  right:42%;
  opacity: 0;
  animation: appear 1s forwards;
  animation-delay: 2s;
  z-index: 1
  }
}

#welcome {
  height: 150px;
  width: 600px;
  background-color: #21c7ed;
  border: 10px solid #2c97b0;
  border-radius: 25px;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 35%;
  opacity: 0;
  animation: appear 1s forwards, 
             disappear 1s forwards;
  animation-delay: 3s, 5s;
  //display: none;
  h3{
    color:white;
    font-size: 32pt;
    text-align: center;
  }
}

#trainer-form {
  position: absolute;
  background-color: #21c7ed;
  border-radius: 25px ;
  border: 10px solid #2c97b0;
  font-size: 32pt;
  height: 230px;
  width: 860px;
  color: white;
  top: 40%;
  left: 30%;
  z-index: 3;
  opacity: 0;
  animation: appear 1s forwards;
  animation-delay: 5.5s;
  
  

  .form-content {
    padding: 20px;
    padding-left: 40px;
    margin-top: 25px;
    
  }

  #trainer-input {
    border-radius: 25px;
    height: 40px;
    width: 340px;
    border: 5px solid white;
    font-size: 16pt;
    margin-left: 90px;
    justify-items: center;
}

#trainer-btn {
  background-color: #2c97b0;
  border-radius: 25px;
  border: 5px solid #2c97b0;
  height: 50px;
  width: 165px;
  font-family: 'Alata';
  font-size: 16pt;
  cursor: pointer;
}
}

#trainer-icons {
  position: absolute;
  background-color: #21c7ed;
  border-radius: 25px ;
  border: 10px solid #2c97b0;
  color: white;
  font-size: 32pt;
  height: 560px;
  width: 845px;
  z-index: 3;
  align-items: center;
  font-size: 36pt;
  top: 20%;
  left: 30%;
  display: none;

  p {
    padding-left: 40px;
  }

  .icons {
    display: grid;
    grid-template: repeat(2, 48%) / repeat(4, 24%);
    grid-gap: 10px;
    margin: 8%;
    position: absolute;
    top:13%;
  }

  .trainers {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: 10px solid white;
    cursor: pointer;
  }
  
}

.trainer-grid {
  display: none;
  position: absolute;
  padding: 35px;
  top: 15%;
  display: grid;
  grid-template: repeat(1, 10px) / repeat(4, 25%);
  grid-column-gap: 20px;
  justify-items: center;

.trainer-display {
  z-index: 3;
  background-color: #21c7ed;
  border-radius: 25px ;
  border: 10px solid #2c97b0;
  height: 600px;
  width: 430px;
  

  #pokemon-team {
    display: grid;
    grid-template: repeat(3, 32%) / repeat(2, 49%);
    justify-items: center;

    img {
      height: 160px;
      cursor: pointer;
      margin-right: 80px;
    }

    .pokemon-stats {
      display: grid;
      grid-template: repeat(2, 30%) / repeat(2, 60%);
      font-size: 8pt;
      position: absolute;
      top: 260%;
      right: 1%;
    }
  }

  .trainers {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border: 10px solid #2c97b0;
    cursor: pointer;
    position: absolute;
    top: -25%;
    }
  }

  #pokemon-form {
    margin-top:65px;
    padding: 0 30px;
    display: flex;
    justify-content: center;

    #pokemon-input {
      border-radius: 25px;
      height: 20px;
      width: 210px;
      border: 5px solid white;
      font-size: 10pt;
    }

    #pokemon-btn {
      background-color: #2c97b0;
      border-radius: 25px;
      border: 5px solid #2c97b0;
      height: 30px;
      width: 120px;
      font-family: 'Alata';
      font-size: 10pt;
      cursor: pointer;
    }
  }

}


// ----------Animations----------
@keyframes slide1 {
  from {right:100%; opacity: 0; }
  to {right: 56%; opacity: 1; }
}

@keyframes slide2 {
  from {left:100%}
  to {left: 56%}
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}
